<div class="empresa-container">
  <div class="header-container">
    <div class="header-content">
      <div class="logo-section">
        <img src="assets/logoempre.png" alt="Icono Empresa" class="logo-icon">
        <h1 class="header-title">GESTOR DE EMPRESAS</h1>
      </div>
    </div>
  </div>

  <nav class="nav-menu">
    <ul>
      <li><a routerLink="/empresas">Empresas</a></li>
      <li><a routerLink="/departamentos">Departamentos</a></li>
      <li><a routerLink="/colaboradores">Colaboradores</a></li>
    </ul>
  </nav>

  <section class="crear-empresa">
    <h2>Empresas > Crear</h2>

    <div *ngIf="mensajeExito" class="alert alert-success">
      {{ mensajeExito }}
    </div>

    <div *ngIf="mensajeError" class="alert alert-danger">
      {{ mensajeError }}
    </div>

    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nombre"><img src="assets/EmpresasNegro.png" alt="Nombre">Nombre:</label>
        <input id="nombre" [(ngModel)]="empresa.nombre" name="nombre" required>
      </div>

      <div class="form-group">
        <label for="direccion"><img src="assets/dirección.png" alt="Dirección">Dirección:</label>
        <input id="direccion" [(ngModel)]="empresa.direccion" name="direccion" required>
      </div>

      <div class="form-group">
        <label for="telefono"><img src="assets/telefono.png" alt="Teléfono">Teléfono:</label>
        <input id="telefono" [(ngModel)]="empresa.telefono" name="telefono" required>
      </div>

      <div class="form-group">
        <label for="status"><img src="assets/status.png" alt="Estado">Status:</label>
        <input id="status" [(ngModel)]="empresa.status" name="status" required>
      </div>

      <div class="form-group">
        <label for="creadoPor"><img src="assets/creado.png" alt="Creado por">Usuario:</label>
        <input id="creadoPor" [(ngModel)]="empresa.creadoPor" name="creadoPor" required>
      </div>

      <div class="form-actions">
        <button class="btn cancelar" type="button" (click)="cancelar()">Cancelar</button>
        <button class="btn guardar" type="submit">Guardar</button>
      </div>
    </form>
  </section>

  <div class="footer">
    <p>© 2024 Gestor de Empresas. Denise Bergmann</p>
  </div>
</div>
