<div class="home-container">
  <div class="header-container">
    <div class="header-content">
      <div class="logo-section">
        <img src="assets/logoempre.png" alt="Icono Empresa" class="logo-icon">
        <h1 class="header-title">GESTOR DE EMPRESAS</h1>
      </div>
    </div>
  </div>

  <section class="home-buttons">
    <button class="home-btn" (click)="navigateTo('empresas')">
      <img src="assets/Empresas.png" alt="Empresas">
      <span>EMPRESAS</span>
    </button>
    <button class="home-btn" (click)="navigateTo('departamentos')">
      <img src="assets/Departamentos.png" alt="Departamentos">
      <span>DEPARTAMENTOS</span>
    </button>
    <button class="home-btn" (click)="navigateTo('colaboradores')">
      <img src="assets/Empleados.png" alt="Colaboradores">
      <span>COLABORADORES</span>
    </button>
  </section>

  <div class="footer">
    <p>© 2024 Gestor de Empresas. Denise Bergmann</p>
  </div>
</div>

